body {
    background: #f5eee0 url(http://newline-course-assets.s3.amazonaws.com/images/keytar/pattern.jpg);
    color: #6f6f6f;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Bungee', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 36px;
    margin: 5px; 
}
h2 {
    color: #212a2d;
    font-size: 26px;
}

h3 {
    color: #865aa0;
    font-size: 20px;
}

h4 {
    color: #865aa0;
    font-size: 14px;
}

p {
    line-height: 24px;
    margin: 8px 0;
}

.container {
    margin: auto;
    overflow: auto;
    width: 900px;
}
.button {
    background:#ac43ec;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 2.5px 0;
    padding: 8px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

/* NAVIGATION INFO */
.header {
    background: #3f4c50;
    overflow: auto;
}

.header .logo {
    float: left;
    padding: 10px 10px;
}

.header .navigation {
    float: left;
    list-style: none;
    padding: 0;
}

.header .navigation li {
    float: left;
    padding: 20px;
}

.header .navigation li a {
    color: #f5eee0;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
}

.header .navigation li a.active,
.header .navigation li a:hover {
    border-bottom: 2px solid #ac43ec;
}

/* HERO INFORMATION */
.hero {
    background: url('./heroBackground.jpeg');
    padding: 30px;
    color: #f5eee0;
}

.hero h1 {
    border-left: 5px solid #ac43ec;
    background-color: #2a3336;
    border-radius: 0 4px 4px 0;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 10px;
    padding: 14px 25px;
}

.hero p {
    font-size: 16px;
    line-height: 28px;
    max-width: 700px;
}

/* MAIN INFORMATION */
.main .primary {
    float: left;
    margin-right: 5%;
    width: 60%;
}

.main .secondary {
    float: right;
    width: 35%;
}

.main .bjj-review {
    background: #ffffff;
    border-left: 4px solid #ac43ec;
    border-radius: 0 4px 4px 0;
    margin: 40px 0;
    padding: 40px 28px 13px;
}

.main .bjj-review .button {
    float: right;
}

.main .bjj-review .checkmat-logo {
    float: left;
    margin: 0 20px 20px 0;
}

.main .bjj-review .easton-logo {
    float: left;
    margin: 0 20px 20px 0;
}

.main .bjj-review .rating-star {
    background: #f9ecff;
    border-left: 4px solid #eedbf7;
    border-radius: 0 4px 4px 0;
    color: #ac42ac;
    font-size: 12px;
    font-weight: bold;
    padding: 11px 14px;
}

.main .bjj-review .rating-star .rating-text {
    margin-left: 6px;
}

.main .bjj-review .rating-star .stars {
    vertical-align: bottom;
}

.secondary .content-block {
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 0 0 4px 4px;
    border-top: 4px solid #eedbf7;
    margin: 40px 0;
}

.secondary .name {
    border-top: 1px dashed #e0d9cf;
    color: #ac43ec;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
    padding-top: 20px;
}

.secondary .title {
    color: #d3a9e6;
    font-size: 10px;
    font-weight: bold;
}

.secondary .bio-pic {
    background: #eedbf7;
    border-radius: 50%;
    display: block;
    margin: -70px auto 20px;
    padding: 4px;
}